.logo-text {
    font-size: 4rem; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    color: #333; /* Color del texto */
    text-align: center; /* Centrar el texto */
    font-family: "Verdana", sans-serif; /* Fuente del texto */
}