.card {
    border-radius: 20px;
}

.card-header {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.form-control {
    border-radius: 12px;
}

.form-control:focus {
    border-color: #dc3545;
    box-shadow: 0 0 6px rgba(220, 53, 69, 0.4);
}

.btn-danger {
    font-size: 1.1rem;
    border-radius: 12px;
}

h4 {
    font-weight: 700;
}

label {
    color: #444;
}

.caseta {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 15px;  
            width: 100%;
        }